.preview-container {
  background-color: #f6f6f6;
  overflow-y: scroll;

  &.iphone-8-plus {
    width: 414px;
    height: 736px;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.preview {
  &-bd {
    position: relative;
    z-index: 0;
    padding: 8px;
  }
}
