@import "../../styles/theme.less";

.overview {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;

  &-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    font-size: 14px;
    color: @secondary-text;

    .icon path {
      fill: @secondary-text;
    }

    &-part {
      margin: 0 2px;
    }

    &-separator {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 0 2px;
      background-color: @secondary-text;
    }
  }
}
